body.page {
    background-color: #f4f4f4;
    font-family: 'Segoe UI', sans-serif;
}

h2.top-header {
    margin-top: 1rem;
    text-align: center;
}

.form-login {
    max-width: 400px;
    margin: 2rem auto;
    padding: 1rem;
    background: white;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

.navbar .middle-content .middle-item {
    white-space: nowrap;
    margin-right: 10px;
    
}

.middle-content .middle-item .middle-item-title {
    font-weight: bold;
    margin-right: 4px;
}

.wind-circle {
    background-color: transparent;
    border-radius: 10px;
}

.wind-circle svg {
    display: block;
    margin: auto;
    background-color: transparent;
}

.rain-bars {
    height: 200px;
}

.rain-bar {
    text-align: center;
    vertical-align: bottom;
    height: 200px;
}

.rain-baramount {
    width: 10px;
    background-color: blue;
}